.post-preview {
    text-decoration: none;
    margin: 0px auto 0px auto;
    border-style: none;
    width: 100%;
}

.subtitle {
    margin-top: 0px;
    border-left: 5px solid rgb(15, 100, 137)
}

.details {
    margin: 100px;
}

.tags {
    margin-top: 10px;
    margin-left: 10px;
}