@media all and (min-width: 480px) {
    .Registration {
        padding: 60px 0;
    }

    .Registration form {
    margin: 0 auto;
    max-width: 320px;
    }

.Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: 
}

}