/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
nav {
  box-shadow: none;
  border-bottom: 1px solid #d6d8da !important;
}
nav .brand-logo,
nav ul a,
nav a.sidenav-trigger {
  color: #0f6489;
}
nav ul a {
  font-weight: 700;
}
body {
  font-family: Lato, sans-serif;
}
.grey.lighten-1 {
  background-color: rgb(247, 246, 244) !important;
}
footer.page-footer {
  background-color: #0f6489;
  color: white;
  padding: 0;
}
#send-message-button {
  background-color: #26a69a;
}
.btn-large {
  text-transform: none;
}
.partner-div {
  max-height: 50%;
  vertical-align: middle;
}
.partner-img {
  max-height: 50%;
  max-width: 100%;
}
